/* Estilo do ícone da aba */
.abaOculta{
    height: 0;
    /* display: none; */
    overflow: hidden;
}

/* Move a seta da aba para esquerda */
.seta-up{
    animation: arrowUp .3s forwards;
}
@keyframes arrowUp {
    from{
        transform: rotate(90deg);
    }
    to{
        transform: rotate(180deg);
    }
}

/* Move a seta da aba para baixo */
.seta-down{
    animation: arrowDown .3s forwards;
}
@keyframes arrowDown {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(90deg);
    }
}


.box_body_guia_detalhes_procs, .box_body_guia_detalhes_outras{
    overflow: hidden;
    height: auto;
}
.box_body_guia_detalhes_outrasDespesas 
/* Estilos utilizados para títulos dos Procedimentos e Despesas */
.box_body_guia_detalhes_cabecalho_procs_titulo, .box_body_guia_detalhes_outras_titulo{
    transition: .1s;
}
.box_body_guia_detalhes_cabecalho_procs_titulo:hover, .box_body_guia_detalhes_outras_titulo:hover{
    cursor: pointer;
    box-shadow: inset 0 0 2px 0 black;
}
.box_body_guia_detalhes_cabecalho_procs_titulo:active, .box_body_guia_detalhes_outras_titulo:active{
    box-shadow: inset 0 0 5px 0 black;
}