/* Checkbox para selecionar a Guia */
.box_body_guia_check {
    position: absolute;
    left: 23px;
    top: 10px;
    cursor: pointer;
    background: transparent;
    transform: rotate(45deg);
}

.box_body_guia_check input {
    display: none;
}

.box_body_guia_check-span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: var(--cor-de-fundo-guia-checkbox);
    border-radius: 50%;
}

.box_body_guia_check input:checked+.box_body_guia_check-span {
    background: var(--cor-de-fundo-guia-checkbox-checked);
}

.box_body_guia_check-span::after {
    content: '';
    position: absolute;
    display: none;
}

.box_body_guia_check input:checked+.box_body_guia_check-span::after {
    display: block;
}

.box_body_guia_check .box_body_guia_check-span::after {
    top: -15px;
    left: -5px;
    width: 15px;
    height: 25px;
    border: solid var(--cor-de-fundo-guia-checkbox-visto-checked);
    border-width: 0 3px 3px 0;
    z-index: 2;
    animation: mostraCheck .2s forwards;
}

@keyframes mostraCheck {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(1);
    }
}